@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Lalezar;
    src: url('./Assets/Fonts/Lalezar-Regular.otf');
}
@font-face {
    font-family: Lotus;
    src: url('./Assets/Fonts/B\ Lotus_0.ttf');
}
.Lalezar{
    font-family: Lalezar;
}
.Lotus{
    font-family: Lotus;
}